<!DOCTYPE html>
<html>
<head>
    <title>Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>Clothes Store</h1><br/><br/>

    Thông tin đơn đơn hàng mới từ khách hàng: {{CustomerName}}<br />
    <!--Xem <a url="https://localhost:44350/chi-tiet-don-hang-10044">tại đây:</a>-->
    Điện thoại: {{Phone}}<br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}} <br />
    Tổng thanh toán: {{Total}} VNĐ<br />
    Cảm ơn quý khách đã mua hàng ủng hộ cửa hàng Clothes Store.
</body>
</html>
