@{
    var seoDescription = ViewBag.seoDescription != null ? ViewBag.seoDescription : "Đến với không gian mua sắm trực tuyến Clothes Store, khách hàng có thể dễ dàng tìm thấy những sản phẩm hay, đa Loại Sản Phẩm của nhiều nhà sản xuất, công ty sản phẩm trong và ngoài nước cùng nhiều sản phẩm tốt của những thương hiệu uy tín. Cùng tiêu chí không ngừng hoàn thiện, nâng cao chất lượng sản phẩm, dịch vụ, Hiệu sản phẩm cam kết mang đến cho khách hàng trải nghiệm mua sắm trực tuyến an toàn, tiện lợi: cách đặt hàng đơn giản, phương thức thanh toán đa dạng, dịch vụ chăm sóc khách hàng tận tình, chu đáo.";
    var seoImage = ViewBag.seoImage != null ? ViewBag.seoImage : "~/assets/img/imgbook/clothing-store-logo-template.jpg";
    var seoTitle = ViewBag.seoTitle != null ? ViewBag.seoTitle : "Cửa hàng đồ hiệu Clothes Store";
    //TODO: replace url with domain later
    var seoUrl = ViewBag.seoUrl != null ? ViewBag.seoUrl : "https://google.com";
}

<!DOCTYPE html>

<html>
<head>
    <title>Trang Chủ | Clothes Store</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/imgbook/clothing-store-logo-template.jpg">
    <link rel="icon" href="~/Content/images/fav.png" " type="image/x-icon" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="description" content=@seoDescription />
   
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content=@seoTitle />
    <meta itemprop="description" content=@seoDescription />
    <meta itemprop="image" content=@seoImage />
    
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content=@seoUrl />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=@seoTitle />
    <meta property="og:description" content=@seoDescription />
    <meta property="og:image" content=@seoImage />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content=@seoUrl />
    <meta name="twitter:title" content=@seoTitle />
    <meta name="twitter:description" content=@seoDescription />
    <meta name="twitter:image" content=@seoImage />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/vendor/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/assets/vendor/animate.css/animate.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link href="~/assets/css/flipdown.css" rel="stylesheet" />

    <!-- CSS Bookworm Template -->
    <link rel="stylesheet" href="/assets/css/theme.css">
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=1096206097758727&autoLogAppEvents=1" nonce="wfSQuQyO"></script>


    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/639060e8daff0e1306db5410/1gjlvl3b3';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "104521588410916");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v15.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @{Html.RenderAction("Header", "Home");}

    <!-- ===== MAIN CONTENT ===== -->
    @RenderSection("silder", required: false)

    @RenderBody()
    <!-- ===== END MAIN CONTENT ==== -->

    @{Html.RenderAction("Footer", "Home");}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/assets/vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="/assets/vendor/multilevel-sliding-mobile-menu/dist/jquery.zeynep.js"></script>
    <script src="/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets/js/flipdown.js"></script>
    <link href="~/Content/libs/toastr/toastr.css" rel="stylesheet" />
    <script src="/Content/Home/js/jquery-ui.js"></script>
    <!-- JS HS Components -->
    <script src="/assets/js/hs.core.js"></script>
    <script src="/assets/js/components/hs.unfold.js"></script>
    <script src="/assets/js/components/hs.malihu-scrollbar.js"></script>
    <script src="/assets/js/components/hs.header.js"></script>
    <script src="/assets/js/components/hs.slick-carousel.js"></script>
    <script src="../../assets/js/components/hs.quantity-counter.js"></script>
    <script src="/assets/js/components/hs.selectpicker.js"></script>
    <script src="/assets/js/components/hs.show-animation.js"></script>
    <script src="~/Content/libs/toastr/toastr.js"></script>
    <script src="~/Content/libs/commonjs/loginCommon.js"></script>
    <script src="~/Content/libs/commonjs/cartCommon.js"></script>
    <!-- JS Bookworm -->
    <!-- <script src="/assets/js/bookworm.js"></script> -->
    @RenderSection("jsFooter", required: false);
    <script>

        $(document).on('ready', function () {
            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
            // initialization of quantity counter
            $.HSCore.components.HSQantityCounter.init('.js-quantity');
            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // init zeynepjs
            var zeynep = $('.zeynep').zeynep({
                onClosed: function () {
                    // enable main wrapper element clicks on any its children element
                    $("body main").attr("style", "");

                    console.log('the side menu is closed.');
                },
                onOpened: function () {
                    // disable main wrapper element clicks on any its children element
                    $("body main").attr("style", "pointer-events: none;");

                    console.log('the side menu is opened.');
                }
            });

            // handle zeynep overlay click
            $(".zeynep-overlay").click(function () {
                zeynep.close();
            });

            // open side menu if the button is clicked
            $(".cat-menu").click(function () {
                if ($("html").hasClass("zeynep-opened")) {
                    zeynep.close();
                } else {
                    zeynep.open();
                }
            });

            $('.btn-delete-cart-header').off('click').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    data: { id: $(this).data('id') },
                    url: '/Cart/Delete',
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            notificationService().displaySuccess("Xóa khỏi giỏ hàng thành công.");
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2000);

                        }
                    }
                });
            });
        });
    </script>
    <script src="~/Content/Home/js/Controller/baseController.js"></script>
</body>
</html>
